<h1> Student App </h1>

<ul>
  <li *ngFor="let x of students">
    {{x.name}} - {{x.age}} <!-- displays student data via data binding -->
  </li>
</ul>

<ol>
  @for(student of students; track student){
    <li>{{student.id}}, {{student.name}}, {{student.address}}</li> <!-- displays student data via data binding -->
  }
</ol>

<h1> Weather in Galway </h1>
@for(w of weather; track w){
  <p>{{w.main}} - {{w.description}}</p> <!-- displays weather data using a for loop via data binding -->
}


<p>{{weather[0].main}}, {{weather[0].description}}</p> <!-- displays weather data via data binding -->
<p>{{temperature}}</p> <!-- displays temperature data via data binding -->