<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ul>
    <li *ngFor = "let x of myMovies">
      {{x.Title}}, {{x.Year}}
      <img [src] = "x.Poster" alt = "movie poster">
    </li>
  </ul> -->

  <ion-card *ngFor = "let movie of myMovies">
    <img src={{movie.Poster}} />
    <ion-card-header>
      <ion-card-title>{{movie.Title}}</ion-card-title> <!-- data bind title -->
      <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle> <!-- data bind year -->
    </ion-card-header>
  </ion-card>

</ion-content>
