<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- places back button at the top left hand corner -->
      <ion-back-button></ion-back-button> <!-- back button -->
    </ion-buttons>
    <ion-title>Connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connaught</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png">
  <br>
  <h2>Counties in Connaught</h2>
  <ul> <!-- unrodered list of connaught counties -->
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leithrim</li>
  </ul>
</ion-content>
